html {
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
    width: 100%;
    overflow-x: hidden;
}

body,
main {
    padding: 0;
    margin: 0;
    display: grid;
    width: 100vw;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

/* header nav bar */
.nav {
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;
    z-index: 100;
}

.logo,
.logo-link {
    width: 2rem;
    height: 1.2rem;
    margin: auto 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    box-shadow: 0px 1px 0px 0px #f10000;
    margin: 2vw;
}

.nav-links a:hover {
    box-shadow: 0px 1px 0px 0px white;
}

.nav-links li {
    list-style: none;
    margin: 0.1vw;
    padding: 0;
}

/* hero image  */

.carousel__img {
    margin-left: 25vw;
    width: 50%;
}

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
    }

    @keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
    }

    @keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

* {
box-sizing: border-box;
scrollbar-color: transparent transparent; /* thumb and track color */
scrollbar-width: 0px;
}

*::-webkit-scrollbar {
width: 0;
}

*::-webkit-scrollbar-track {
background: transparent;
}

*::-webkit-scrollbar-thumb {
background: transparent;
border: none;
}
  * {
-ms-overflow-style: none;
}

ol, li {
list-style: none;
margin: 0;
padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    width: 100vw;
    height: 5vh;
    background: url("img/japan-night-background.jpeg");
    background-size: cover;
    background-position: center;
}

.carousel__viewport {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
overflow-x: scroll;
counter-reset: item;
scroll-behavior: smooth;
scroll-snap-type: x mandatory;
}

.carousel__slide {
position: relative;
flex: 0 0 100%;
width: 100%;
background-color: transparent;
counter-increment: item;
}

.carousel__slide:nth-child(even) {
background-color: transparent;
}

.carousel__slide:before {
content: counter(item);
position: absolute;
top: 50%;
left: 50%;
transform: translate3d(-50%,-40%,70px);
color: #fff;
font-size: 2em;
}

.carousel__snapper {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
scroll-snap-align: center;
}

@media (hover: hover) {
.carousel__snapper {
animation-name: tonext, snap;
animation-timing-function: ease;
animation-duration: 4s;
animation-iteration-count: infinite;
}

.carousel__slide:last-child .carousel__snapper {
animation-name: tostart, snap;
}
}

@media (prefers-reduced-motion: reduce) {
.carousel__snapper {
animation-name: none;
}
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
animation-name: none;
}

.carousel__navigation {
position: absolute;
right: 0;
bottom: 0;
left: 0;
text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
display: inline-block;
}

.carousel__navigation-button {
display: inline-block;
width: 1.5rem;
height: 1.5rem;
background-color: transparent;
background-clip: content-box;
border: 0.25rem solid transparent;
border-radius: 50%;
font-size: 0;
transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
position: absolute;
top: 0;
margin-top: 37.5%;
width: 4rem;
height: 4rem;
transform: translateY(-50%);
border-radius: 50%;
font-size: 0;
outline: 0;
}

.carousel::before,
.carousel__prev {
left: -1rem;
}

.carousel::after,
.carousel__next {
right: -1rem;
}

.carousel::before,
.carousel::after {
content: '';
z-index: 1;
background-color: #333;
background-size: 1.5rem 1.5rem;
background-repeat: no-repeat;
background-position: center center;
color: #fff;
font-size: 2.5rem;
line-height: 4rem;
text-align: center;
pointer-events: none;
}

.carousel::before {
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.product-series--BUDGET, .product-series--MEDIUM, .product-series--EXTREME {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 50px;
    text-align: center;
}

.product-series--BUDGET img {
    width: 100%;
    grid-column: 2/3;
    background: url("img/redwavybackground.webp");
    
}

.product-series--MEDIUM img {
    width: 100%;
    grid-column: 2/3;
    background: url("img/redwavybackground.webp");
}

.product-series--EXTREME img {
    width: 100%;
    grid-column: 2/3;
    background: url("img/redwavybackground.webp");
}

.product-series__text {
    text-align: center;
    margin: auto 0;
    grid-column: 2/3;
    grid-row: 2/3;
}

.product-series__text button {
    height: 50px;
    width: 100px;
    background-color: #f10000;
    border: 1px solid white;
    border-radius: 10px;
}

.link__learn-more {
    text-decoration: none;
    color: black;
}

#second_text-group {
    width: 100%;
    grid-column: 2/3;
}

/* footer */
footer {
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    border-top: 1px solid #f10000;
}

.footer__contact {
    width: 50%;
    margin: 1rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem;
}

.footer__contact p {
    margin: 0.5rem;
    text-align: center;
}

.footer__links a {
    margin: 0.3rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

#product-container {
    padding: 50px;
    width: 100vw;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.product-item {
    padding: 0;
}

@media only screen and (min-width: 450px) and (max-width: 991px) {
    html {
        width: 100%;
        overflow-x: visible;
    }

    body,
    main {
        width: 100%;
        overflow-x: visible;
    }

    .logo,
    .logo-link {
    width: 6rem;
    height: 1.5rem;
    }

    .nav {
        justify-content: space-around;
    }

    .material-symbols-outlined {
        margin-left: 4vw;
    }

    #product-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 50px;
    }

    .product-series--BUDGET, .product-series--MEDIUM, .product-series--EXTREME {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
    .product-series__text {
        grid-row: 1/2;
        grid-column: 3/4;
    }
    
    #second_text-group {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .product-series--MEDIUM img {
        grid-column: 3/4;
    }

    .carousel::after,
    .carousel__next {
        right: 2rem;
    }
}

@media only screen and (min-width: 992px) {
    html {
        width: 100%;
    }

    body,
    main {
        width: 100%;
        overflow-x: visible;
    }

    .logo,
    .logo-link {
    width: 6rem;
    height: 1.5rem;
    }

    .nav {
        justify-content: space-around;
    }

    .material-symbols-outlined {
        margin-left: 4vw;
    }

    #product-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 50px;
    }

    .product-series--BUDGET, .product-series--MEDIUM, .product-series--EXTREME {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
    .product-series__text {
        grid-row: 1/2;
        grid-column: 3/4;
    }
    
    #second_text-group {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .product-series--MEDIUM img {
        grid-column: 3/4;
        
    }

    .carousel::after,
    .carousel__next {
        right: 2rem;
    }
}