html {
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
    width: 100%;
    overflow-x: hidden;
}

body, main {
    padding: 0;
    margin: 0;
    display: grid;
    width: 100vw;
    background-color: black;
    color: white;
    overflow-x: hidden;
    
}
/* header nav bar */
header {
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;
}

.logo,
.logo-link {
    width: 6rem;
    height: 1.5rem;
    margin: auto 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    padding: 0;

}

.nav-links a {
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    box-shadow: 0px 1px 0px 0px #f10000;
    margin: 2vw;
}

.nav-links a:hover {
    box-shadow: 0px 1px 0px 0px white;
}

.nav-links li {
    list-style: none;
    margin: 0.1vw;
    padding: 0;
}
/* hero image  */
.carousel {
    width: 100%;
}

.carousel__img {
    width: 100%;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
}

.footer__contact {
    width: 50vw;
    margin: 1rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 1rem;
}

.footer__links a {
    margin: 0.5rem;
    text-align: center;
}

@media only screen and (min-width: 450px) and (max-width: 991px) {
    html {
        width: 100%;
        overflow-x: visible;
    }
    
    body, main {
        width: 100%;
        overflow-x: visible;
    }
}

@media only screen and (min-width: 992px) {
    html {
        width: 100%;
    }
    
    body, main {
        width: 100%;
        overflow-x: visible;
    }
} 