html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

main {
    width: 100vw;
    height: 1000px;
    flex: 1 1 auto;
}
/* header nav bar */
.nav {
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;
}

.material-symbols-outlined {
    margin-left: 4vw;
}

.logo,
.logo-link {
    width: 2rem;
    height: 1.2rem;
    margin: auto 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    box-shadow: 0px 1px 0px 0px #f10000;
    margin: 2vw;
}

.nav-links a:hover {
    box-shadow: 0px 1px 0px 0px white;
}

.nav-links li {
    list-style: none;
    margin: 0.1vw;
    padding: 0;
}

/* form */
.form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 500px repeat(1, 1fr);
    grid-template-rows: 95px 1000px 95px;
    width: 100%;
    height: 1200px;
    /* background image settings for grid form */
    background-image: url("../img/Nightfall-backdrop.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #000000;
    box-shadow: 1px 2px 5px #f10000;
    border: 1px solid #000000;
    z-index: 100;
    margin: 150px 0;
}

.form__color-strip {
    display: flex;
    background-color: #f10000;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.form--fname {
    margin: 40px 50px 0;
}

.form--lname {
    display: inline-block;
    margin: 20px 50px;
}

.form--message {
    margin: 0px 50px;
}

.label {
    display: inline-block;
    width: 300px;
    color: #ffffff;
    margin-bottom: 5px;
}

.input {
    
    width: 200px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000000;
    border: 1px solid #000000;
    padding: 5px;
    outline: none;
}

.input:focus {
    border: 2px solid #ffffff;
}

#msg {
    width: 380px;
    height: 150px;
    resize: none;
    margin-bottom: 20px;
    padding: 10px;
}

.form--info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p {
    width: 100%;
    color: #ffffff;
    text-align: center;

}

#submit {
    margin: 20px;
    width: 100px;
    height: 38px;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 15px;
    box-shadow: 2px 2px 1px 1px #999;
    border: 1px solid #000000;
}

#submit:hover {
    background-color: #f10000;
    color: #000000;
    border: 1px solid #ffffff;
    cursor: pointer;
}

/* footer */
footer {
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    border-top: 1px solid #f10000;
    background-color: #000000;
}

.footer__contact {
    width: 50%;
    margin: 1rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem;
}

.footer__contact p {
    margin: 0.5rem;
    text-align: center;
}

.footer__links a {
    margin: 0.3rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* phone screens */
@media screen and (max-width: 460px) {
    .form-container {
        grid-template-columns: 0 450px repeat(2, 0);
        grid-template-rows: 40px 1250px 0px;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow-x: hidden;

    }

    .form {
        display: flex;
        flex-direction: column;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: black;
        box-shadow: 5px 5px 10px #333;
        border: 1px solid #000000;
        z-index: 100;
        margin: 182px 0 0;
        overflow-x: hidden;
    }

    .nav {
        justify-content: space-around;
    }
}

/* tablet screens */
@media screen and (min-width: 461px) and (max-width: 800px) {
    .logo,
    .logo-link {
        width: 6rem;
        height: 1.5rem;
    }

}

/* desktop screens */
@media screen and (min-width: 800px) {
    html {
        width: 100%;
    }

    body,
    main {
        width: 100%;
        overflow-x: visible;
    } 

    .logo,
    .logo-link {
        width: 6rem;
        height: 1.5rem;
    }
}